@charset "UTF-8";
/* CSS Document */

html {
    position: relative;
    min-height: 100%;
	max-width:98%;
	overflow-x: hidden;
}

html,body{
  margin:0;
  padding:0;
}

audio {
    width: 100%;
    margin: 0px;
    border-radius: 24px;
    outline: none;
}

@font-face {
    font-family: MyFont;
    src: url("file:///android_asset/fonts/Lato.ttf")
}
body 
{
	font-family: MyFont;
    font-size: medium;
    /*text-align: justify;*/
}



#content table {
border-collapse: collapse;
}

#content table p{
	padding:0 10px 0 10px;
}


h1 {
	font-size:x-large;
	padding-bottom:3px;
	line-height:1.5em;
	padding-top:3px;
}

#content {
	font-size:15px;
	background:#FFF;
	min-height:18em;
	line-height:170%;
	margin:16px;
}

#content a, #content a:link, #content a:active, #content a:visited {
	color:blue;
	text-decoration:none;
}
#content a:hover{ text-decoration:underline;}

#content .exam{	
	font-family:Arial, Helvetica, sans-serif;
	padding:10px 20px 10px 10px;
}

#content .exam li{
	margin-top:8px;
}

#content .exam hr { 
	background-color:#000; 
	color:#000;
	height:4px;
}

#content .exam-extract {
	padding:8px 8px 8px 8px;
	margin-left:16px;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	border:solid;}

#content .exam-text {
	font-size:18px;
	padding:8px 8px 8px 8px;
	margin-left:16px;
	font-family:Arial, Helvetica, sans-serif;
	width:90%;
	border:solid;
}


#content .task{
	font-weight:bold; padding-left:20px;
}

#content .important {color:#093;}


button[onclick="answers()"], button[onclick="noanswers()"] {
	font-size:0.9em;
}


.home-button, .home-button:link {
	height:100%;
	margin: 0.2em 0 0.2em 0;
	display: inline-block;
	outline: none;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
	padding: .5em 0.5em .5em;
}

.home-button img {height:23px;}

.button, .button:link {
	width:200px;
	margin: 0.2em 0 0.2em 0;
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: .5em 7px .5em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color:#FFF;
	font-size:1.2em;
	
}
.button:hover {
	color:#F00;
	text-decoration: none;
}

.green {
	border: solid 1px #145311;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#2ddb87), to(#13a760));
	background: -moz-linear-gradient(top,  #2ddb87,  #13a760);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ddb87', endColorstr='#13a760');
}

.green:hover {
	border: solid 1px #999;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#d8d8d8));
	background: -moz-linear-gradient(top,  #fff,  #d8d8d8);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#d8d8d8');
}
.green:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#13a760), to(#2ddb87));
	background: -moz-linear-gradient(top,  #13a760, #2ddb87);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#13a760', endColorstr='#2ddb87');
}



/*Hide checkbox and labels*/
.toggle, [id^=drop] { display: none; }


.news-letter {
  position:relative;
  top:15em;
  border-radius: 5px;
  width: 7em;
  padding: 9% 7% 20%;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  margin-top: 10px;
}

.news-letter:before, .news-letter:after {
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;

}

.news-letter:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.news-letter-title {
    background: #FFF; /* newsletter background  */
    color: #AAAAAA;
    font-size: 14px;
    padding: 8px;
    text-align: center;
  background: #fff;
}

.news-letter-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12px; /* top header bar height */
  background: #13a760;  /* top header bar color */
  border-radius: 5px 5px 0 0;
 
}

input {
	font-size: 11px;
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.news-letter-input {
  width: 100%;
  height: 28px;
  margin-bottom: 14px;
  padding: 0 12px 2px;
  font-size: 10px;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}

.news-letter-input:focus {
  border-color: #c4c4c4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #c4c4c4;
  box-shadow: inset 0 -2px #c4c4c4;
}

.lt-ie9 .news-letter-input {
  line-height: 48px;
}

.news-letter-button {
  outline: 0; 
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 25px;
  padding: 0;
  font-size: 14px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #13a760; /* button background  */
  border: 0;
  border-bottom: 2px solid #b0afaf; /* newsletter button shadow */
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #b0afaf;
  box-shadow: inset 0 -2px #b0afaf;
}

.news-letter-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}



/* =============== font-marking classes ======================*/
.attention {
	color:#13a760;
	font-size:large;
	font-weight:bold;
}

table {
	line-height:100%;
	width: 90%;
}

.useful-links{
	display:table-row-group;
}
.link-text a{
	font-size:16px;
	color:#009;
}

.link-text a:hover {
	color:#3C3;
	font-size:16px;
}

input.ex-input{
   border: 0px; /*цвет рамки */
   border-bottom: 1px solid #000;
   background: #FFF !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
   outline: none; /* удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
   height: 32px; /* высота на свое усмотрение*/
   width: 120px; /* ширина на свое усмотрение*/
   color: #009; /*цвет шрифта в обычном состоянии*/
   font-size: 16px; /* Размер шрифта*/
}

.ex-but, .ex-but:active {
    width: 200px;
	-webkit-appearance: none;
	border:none;
	outline: 0; 
	font-weight: 700;
	font-size:18px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.1s;
}

.ex-but:hover{
	background: rgb(53, 167, 110);
}


.navigation, .navigation:active {
	border:none;
	outline: 0; 
	font-weight: 700;
	font-size:18px;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.1s;
}

.navigation:hover { background:#DDD;}


.exercises {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
}

.b2 {
	-webkit-appearance: none;
	background-color:#FFF;
	font-size:1em;
	border:outset;
	outline: 0; 
}

.b2:hover, .b2:active{
	background-color:#CCC;
	border:inset;
	outline: 0; 
	transition: 0.1s;
}
	
.hint {
	font-family:Avenir, Verdana, Geneva, sans-serif;
	margin-top:20px;
	border:dotted;
	padding:10px;
	width:73%;
	font-size:1em;
	/*background-color:#E0EEEE;*/
	background-color:#e4f7f1;
	line-height:130%;
}

.transcript {
	font-family:Arial, Helvetica, sans-serif;
	margin-top:20px;
	border:dotted;
	padding:10px;
	width:50%;
	font-size:1em;
	line-height:130%;
}


.seemore {
	text-align:center;
	border-radius: 3px;
	background-color:#CFC;
	width:140px;
	
}

.seemore img{
	vertical-align:middle;
}
.seemore a {
	color:#000;
}

.type{
	padding-top:0;
	font-size:10px;
	font-weight:bold;
}

.seealso
{
	padding: 10px;
	background-color:#E4EFAA;
	border-radius: 4px;
	border-bottom:solid;
	border-bottom-color:#999;
}


#writing
{
	float:left;
	/*width:88%;*/
}

#examples-list
{
	border-radius:9px;
	background-color:#f1f1f1;
	border-style:dotted;
	float:right;
	padding:10px;
	margin-left:17px;
	width:15%;	
}

.exam-answer{
	padding: 0px 40px 0 30px;
}


.column1, .column2, .column3{
	width:32%;
	margin:1px;
	display:inline-block;
	vertical-align:text-top;
	text-align:left;
}

.column-lessons {
	width:38%;
	padding-left:1.5em;
	margin-right:8em;
	display:inline-block;
	vertical-align:text-top;
	text-align:left;
}
.column-ex {
	width:35%;
	display:inline-block;
	vertical-align:text-top;
	text-align:left;
}

.ex-list{
	margin-left:25px;
	display:inline-block;
}

.column1 p, .column2 p, .column3 p{
	padding-left:40px;
}

.biglink{
	padding-left:20px;
	font-size:16px;
	font-weight:bold;	
}

.biglink a:visited{ color:blue;}


.list-outer{
	padding-left:20px;
}

.list-inner{
	padding-left:35px;
}


.result{
	border:solid;
	border-radius:8px;
	width:290px;
	text-align:center;
	padding: 15px 10px 15px 10px;
	margin: 15px 10px 15px 10px;
	font-size:18px;
	font-weight:bold;
}

.examiner {
	padding-left:5px;
	margin-top:50px;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:#DDD;
}

.examiner:before {
	content:"Examiner: ";
}

.candidate{
	color:#777;
}

.speaking{
	font-size:1em;
}
.candidate:before{
	content:"Candidate: ";
}

.phrase{
	color:#000;
	font-weight:bold;
	text-decoration:underline;
}

.linking{
	color:#1B89C3;
	font-style:italic;
}

.tip{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:19px;
	font-weight:bold;
	color:#C33;
}

.tooltip {
  color: #000000; 
  outline: none;
  cursor: help; 
  position: relative;
}
.tooltip span {
	display:none;
	position:absolute;
}
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  background-color:#91E9DE;
  border-radius: 3px;
  position: absolute;
  left: 0.2em;
  top: 1.5em;
  z-index: 3;
  font-weight:normal;
  margin-left: 0;
  display: block;
  width: 250px;
  padding: 0.5em 0.8em 0.8em 0.8em;
}

.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}

.example{
	display:block;
	width:90%;
	font-style:italic;
	margin-left:1.3em;
	margin-bottom:1.2em;
	padding: 0.2em 0.4em 0.2em 0.4em;
	border-radius:7px;
	border-left:4px solid green;
	color:#2F4F4F;
}

.photo-ul img{
	float:none;
	margin-bottom:20px;
	transition:1s;
}

.photo-ul img:hover, .photo-ul img:active{
	width:70%;
}


.theory {
	padding:0.3em;
	padding-left:1.3em;
	background-color:#F5FFFA;
	border:solid 1px #778899;
	color:#363636;
}


.theory-heading {
	padding:0.3em;
	padding-left:1.3em;
	background-color:#E0EEE0;
	border:solid 1px #E0EEE0;
	font-weight:bold;
}

.theory .important {
	color: #2F4F4F;
}

.tryout {
	float:right; border-radius:5px; background-color:#FAFAD2; width:110px; padding:15px; font-size:1.1em;
}
a.tryout ,  a.tryout:link, a.tryout:visited{
	color:#2F4F4F;
	text-decoration:none;
}

.tryout a:hover{ color:#4682B4;}

img[src="/images/question.png"]:hover{
	border-radius:15px;
	box-shadow: 0 0 10px #1C86EE;
	transition: 0.1s;
}

.proposed {
	width: 50%;
	border-left: 5px solid #FF9612;
	margin:2em 0 2em 2em;
	padding:0.1em 1.3em;
	background: #fefcea;
}

.text-extract {color:#085b3d; padding-left:2em; font-style:italic; font-family:Georgia, "Times New Roman", Times, serif; font-size:1.1em;}
.text-extract:before {content:'\201c'; font-size:2em;}
.text-extract:after{content:'\201d'; font-size:2em;}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */       
}

.under-card {
padding-left:50px; padding-top:10px;}

ul { padding-left: 1.2em; }

.transcript {
    margin-top: 20px;
    border: dotted;
    padding: 10px;
    width: 90%;
    font-size: 1em;
    line-height: 130%;
}

.hint {
    margin-top: 20px;
    border: dotted;
    padding: 10px;
    width: 90%;
    font-size: 1em;
    background-color: #e4f7f1;
    line-height: 130%;
}

input[type=text]{border:1px solid #ccc;border-radius:4px; width:160px;padding: 5px;margin: 3px;}
input[type=text]:valid{background-color:#90ee90;font-size: 15px;}
input[type=text]:invalid{background-color:#ffe4e1}
